## Write a Program to input a welcome message and print it

In [ ]:
message = input("Enter your welcome message : ")

print("Your Message are", message)

Enter your welcome message : hello friends
Your Message are  hello friends

## write a program to obtain three number and print their sum

In [ ]:
num1 = int(input("Enter First number : "))
num2 = int(input("Enter Second number : "))
num3 = int(input("Enter Third number : "))

sum = num1 + num2 + num3

print("Sum of", num1, num2, "and", num3, "are", sum)

Enter First number : 2
Enter Second number : 2
Enter Third number : 2
Sum of 2 2 and 2 are 6

## Write a Program to obtain length and breadth of a rectangle and calculate its area

In [ ]:
length = int(input("Enter Length : "))
breadth = int(input("Enter Breadth : "))

area = length * breadth

print("Area of Rectangle = Length * Breadth = ", length, "*", breadth, "=", area)

Enter Length : 5
Enter Breadth : 6
Area of Rectangle = Length * Breadth =  5 * 6 = 30

## Write a Program to calculate BMI (Body Mass Index) of a person.

---


##### Body Mass Index is a simple calculation using a person's height and weight. The Formula is BMI = kg/m^2 where kg is a person's weight in kilograms and m^2 is their height in meters squared.

In [ ]:
weight = float(input("Enter your weight : "))
height = float(input("Enter your height : "))

bmi = weight / (height ** 2)

print("Your BMI are", bmi)

Enter your weight : 66
Enter your height :1.6
Your BMI are 25.781249999999996

## Write a program to input a number and print its cube

In [ ]:
num = float(input("Enter Number : "))

cube = num ** 3
#Alternative_form  num * num * num

print(cube, "is cube of ", num)

Enter Number : 5
125.0 is cube of  5.0

## Write a Program to input a value in kilometers and convert it into miles ( 1 km = 0.621371 miles )

In [ ]:
kilometer = float(input("Enter Kilometer : "))
per_kilometer = 0.621371

miles = kilometer * per_kilometer

print(kilometer, "Km are in ", miles, "Miles")

Enter Kilometer : 45
45.0 Km are in  27.961695 Miles

## Write a program to input  a value in tonnes and convert it into quintals and kilograms.

---


( 1 tonne - *10* quitals 1 tonne = 1000kgs, 1 quital = 100kgs )

In [ ]:
tonne = int(input("Enter Tonne : "))

quintal = tonne * 10
kilograms = tonne * 1000

print(tonne, "Tonnes are", quintal, "Quintal &", kilograms, "Kilograms")

Enter Tonne : 200
200 Tonnes are 2000 Quintal & 200000 Kilograms

## Write a Program to enter a small poem or poem verse and print it.

In [ ]:
poem = input("Enter Poem : ")

print("Your entered POEM is : ")
print(poem)

Enter Poem : Twinkle Twinkle little star.
Your entered POEM is :
Twinkle Twinkle little star.

## Write a program to input two number and swap them.

In [ ]:
a = int(input("Enter first value : "))
b = int(input("Enter Second value : "))

print("Original number are : ", a, b)

a,b = b,a

print("After Swap the number", a , b)

Enter first value : 4
Enter Second value : 8
Original number are :  4 8
After Swap the number 8 4

### Write a Program to input three numbers and swap them as this : 1st number becomes the 2nd number, 2nd number becomes the 3rd number and 3rd number becomes the first number.

In [ ]:
num1 = int(input("Enter first number : "))
num2 = int(input("Enter second number : "))
num3 = int(input("Enter third number : "))

print("Original number are", num1, num2, "&", num3)

num1, num2, num3 = num2, num3, num1

print("After Swap the number are ", num1, num2, "&", num3)

Enter first number : 4
Enter second number : 8
Enter third number : 0
Original number are 4 8 & 0
After Swap the number are  8 0 & 4